@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat');

$darkgray: rgb(40%, 40%, 40%);

* {
  font-family: 'Montserrat', sans-serif;
}

.btn.choose-photo {
  background-color: #41bb60;
  border: none;
  border-radius: 0;
  padding: 0.5rem 2.5rem;
  box-shadow: none !important;
}

.navbar.bluish {
  background-color: #5094bb;
  margin-bottom: 2rem;
}

.homepage-img {
  width: 100%;
  display: block;
}

.homepage-img-wrapper {
  padding: 0.25rem;
  margin: 0.25rem;
  background-color: $darkgray;
  border-radius: 0.25rem;
}

.dropzone {
  width: 100%;
  border: 2px solid $darkgray;
  border-radius: 0.25rem;
  padding: 0.75rem;
  height: 8rem;
}

.photo-list {
  overflow: hidden;
  list-style-type: none;
  padding: 0;

  .item {
    background-color: lightgray;

    .img {
      width: 100%;
    }

    .name {
      padding: 0.5rem 1rem;
    }

    .options {
      background-color: $darkgray;
    }
  }
}