@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}

.btn.choose-photo {
  background-color: #41bb60;
  border: none;
  border-radius: 0;
  padding: 0.5rem 2.5rem;
}

.navbar.bluish {
  background-color: #5094bb;
  margin-bottom: 2rem;
}

.homepage-img {
  width: 100%;
  display: block;
}

.homepage-img-wrapper {
  padding: 0.25rem;
  margin: 0.25rem;
  background-color: rgb(102, 102, 102);
  border-radius: 0.25rem;

}